In [5]:
# import libraries
import mysql.connector
import plotly.express as px

import pandas as pd
import zipfile
import os
import mysql.connector
from sqlalchemy import create_engine
import matplotlib.pyplot as plt

In [17]:
# uploading dataset to juputer notebook
df = pd.read_csv("combined_file.csv")

# let's read data
df.head()

,categoryID_x,categoryName,description,picture,customerID_x,companyName_x,contactName_x,contactTitle_x,address_x,city_x,...,city,region,postalCode,country,phone,fax_y,homePage,territoryID_y,territoryDescription,regionID_y
0,1.0,Beverages,"Soft drinks, coffees, teas, beers, and ales",0x151C2F00020000000D000E0014002100FFFFFFFF4269...,ALFKI,Alfreds Futterkiste,Maria Anders,Sales Representative,Obere Str. 57,Berlin,...,London,NaN,EC1 4SD,UK,(171) 555-2222,NaN,NaN,1581.0,Westboro,1.0
1,2.0,Condiments,"Sweet and savory sauces, relishes, spreads, an...",0x151C2F00020000000D000E0014002100FFFFFFFF4269...,ANATR,Ana Trujillo Emparedados y helados,Ana Trujillo,Owner,Avda. de la Constitución 2222,México D.F.,...,New Orleans,LA,70117,USA,(100) 555-4822,NaN,#CAJUN.HTM#,1730.0,Bedford,1.0
2,3.0,Confections,"Desserts, candies, and sweet breads",0x151C2F00020000000D000E0014002100FFFFFFFF4269...,ANTON,Antonio Moreno Taquería,Antonio Moreno,Owner,Mataderos 2312,México D.F.,...,Ann Arbor,MI,48104,USA,(313) 555-5735,(313) 555-3349,NaN,1833.0,Georgetow,1.0
3,4.0,Dairy Products,Cheeses,0x151C2F00020000000D000E0014002100FFFFFFFF4269...,AROUT,Around the Horn,Thomas Hardy,Sales Representative,120 Hanover Sq.,London,...,Tokyo,NaN,100,Japan,(03) 3555-5011,NaN,NaN,2116.0,Boston,1.0
4,5.0,Grains/Cereals,"Breads, crackers, pasta, and cereal",0x151C2F00020000000D000E0014002100FFFFFFFF4269...,BERGS,Berglunds snabbköp,Christina Berglund,Order Administrator,Berguvsvägen 8,Luleå,...,Oviedo,Asturias,33007,Spain,(98) 598 76 54,NaN,NaN,2139.0,Cambridge,1.0

In [18]:
# let see how many values we have
# to compare them after the cleaning part
df.describe()

,categoryID_x,employeeID_x,territoryID_x,employeeID_y,extension,reportsTo,orderID_x,productID_x,unitPrice_x,quantity,...,unitPrice_y,unitsInStock,unitsOnOrder,reorderLevel,discontinued,regionID_x,shipperID,supplierID_y,territoryID_y,regionID_y
count,8.00000,49.000000,49.000000,9.000000,9.000000,8.000000,2155.000000,2155.000000,2155.000000,2155.000000,...,77.000000,77.000000,77.000000,77.000000,77.000000,4.000000,3.0,20.000000,53.000000,53.000000
mean,4.50000,5.510204,42509.877551,5.000000,2733.000000,3.125000,10659.375870,40.793039,26.218520,23.812993,...,28.866364,40.506494,10.129870,12.467532,0.103896,2.500000,2.0,13.150000,44130.094340,2.150943
std,2.44949,2.475904,34530.619197,2.738613,1958.430366,1.552648,241.378032,22.159019,29.827418,19.022047,...,33.815111,36.147222,23.141072,10.931105,0.307127,1.290994,1.0,8.267088,34128.913373,1.081243
min,1.00000,1.000000,1581.000000,1.000000,428.000000,2.000000,10248.000000,1.000000,2.000000,1.000000,...,2.500000,0.000000,0.000000,0.000000,0.000000,1.000000,1.0,1.000000,1581.000000,1.000000
25%,2.75000,3.000000,10019.000000,3.000000,465.000000,2.000000,10451.000000,22.000000,12.000000,10.000000,...,13.250000,15.000000,0.000000,0.000000,0.000000,1.750000,1.5,5.750000,10038.000000,1.000000
50%,4.50000,6.000000,33607.000000,5.000000,3355.000000,2.000000,10657.000000,41.000000,18.400000,20.000000,...,19.500000,26.000000,0.000000,10.000000,0.000000,2.500000,2.0,12.500000,40222.000000,2.000000
75%,6.25000,7.000000,80202.000000,7.000000,3457.000000,5.000000,10862.500000,60.000000,32.000000,30.000000,...,33.250000,61.000000,0.000000,25.000000,0.000000,3.250000,2.5,19.500000,78759.000000,3.000000
max,8.00000,9.000000,98104.000000,9.000000,5467.000000,5.000000,11077.000000,77.000000,263.500000,130.000000,...,263.500000,125.000000,100.000000,30.000000,1.000000,4.000000,3.0,29.000000,98104.000000,4.000000